In [1]:
import pandas as pd

In [8]:
data = {
    '國家': ['America', 'Russia', 'China', "Japan", 'Taiwan', 'India', 'France'],
    '人口': [328703972, 146630000, 1395380000, 126220000, 23589192, 1359820000, 65207000]
}

In [9]:
country = pd.DataFrame(data)
country

        國家          人口
0  America   328703972
1   Russia   146630000
2    China  1395380000
3    Japan   126220000
4   Taiwan    23589192
5    India  1359820000
6   France    65207000

In [19]:
country.loc[country['人口'].idxmax()]

國家         China
人口    1395380000
Name: 2, dtype: object